
body{
    background: #dddddd;
}
.form-data{
    background: #444444;
    /* margin: auto; */
    color: #dddddd;
}
.aluno-view{
    height: 100vh;
    background: #ffff;
    margin: -50px auto auto auto;
    border-radius: 6px;
}
.formulario{
    margin: auto;
   max-width: 1000px;
   margin-bottom: 80px;
}
.mensagem{
    width: 100%;
    margin: auto;
    text-align: center;
    background: #444444;
}
.logo img{
    width: 5rem;
}
.logo{
    margin: auto;
    border-bottom: 1px solid #838080;
}
